.overlayCall {
    position: fixed;
    top: 0;
    width: 528px;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.32);
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

  
.overlayCall .modal {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    flex-direction: column;
    -webkit-box-orient: vertical;
    gap: 0.6em;

    width: inherit;
    position: fixed;
    bottom: 10px;
}
.overlayCall .modal .number {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;

    position: relative;
    background-color: white;
    width: calc(100% - 2.211em*2);
    padding: 1em 0;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 0.98em;
    text-decoration: none;
    cursor: pointer;
}
.overlayCall .modal .number .call{
    font-size: 1.4em;
    color: rgba(0,0,0,0.9);
}
.overlayCall .modal .number .callIcon{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;

    position: absolute;
    left: 1.7em;
    height: auto;
}
.overlayCall .modal .cancel {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-pack: center;

    background-color: white;
    width: calc(100% - 1.579em*2);
    padding: 0.7143em 0;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 0.7em;
    font-size: 1.4em;
    cursor: pointer;
}
  
@media (max-width: 528px){
    .overlayCall {
        width: 100%;
    }
  }
  @media (orientation: portrait) and (max-width: 768px){
    .overlayCall {
        width: 100%;
    }
  }