.resultIcon {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-pack: center;
}
.resultIcon > img {
    width: 20%;
}
.resultHeader {
    text-align: center;
    padding: 0.819em 0; /* 20px */
    font-size: 1.8em;
    color: #191919;
    font-family: "SpoqaMedium";
}
.resultDisc {
    text-align: center;
    padding: 0 2.2em;
    padding-bottom: 2.457em;
    font-size: 1.2em;
    color: #191919;
    font-family: "SpoqaRegular";
}
.resultContainer {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-family: SpoqaRegular;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 5.359em; /* 80px */
}
.resultContainer .leftWord {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: 0.134em; /* 2px */
    justify-content: space-between;
}
.resultContainer .centerLine {
    flex: 5;
    justify-content: space-between;
}
.resultContainer .rightWord {
    flex: 2;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-top: 0.134em; /* 2px */
    justify-content: space-between;
}
.resultContainer .centerLine .line{
    position: relative;
    margin-top: 0.85em; /* 10px */
    height: 0.2em;
    border: 0;
    border-radius: 0.335em;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.36));
}
.resultContainer .centerLine .circle{
    position: relative;
    top: -0.34em;
    height: 0.5em;
    width: 0.5em;
    border: 0;
    border-radius: 0.67em;
    background-color: #898989;
    z-index: 2;
}