.myShopHeader {
    padding-left: 27px;
    padding-bottom: 10px;
    vertical-align: bottom;
    margin-top: 10px;
}
.myShopHeader #myShop {
    font-size: 2.6em;
    margin-right: 25px;
}
.myShopHeader .locationButton {
    position: relative;
    top: 7px;
    cursor: pointer;
}
.myShopHeader .locationButton #location{
    position: relative;
    font-size: 1.2em;
    color: rgba(0,0,0,0.6);
    margin-left: 4px;
    padding-bottom: 2px;
    border-bottom: 1px solid #707070;
    bottom: 8px;
    user-select: none;
}

.shopCategory {
    width: inherit;
    background-color: white;

    display: flex;
    align-items: center;
}

.shopCategory > div {
    text-align: center;
    float: left;
    width: 33.333%;
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: 1.4em;
    font-family: SpoqaRegular;
    color: rgba(0,0,0,0.36);
    cursor: pointer;
    user-select: none;
}

.shopCategory .active {
    padding-bottom: 4px;
    border-bottom: 3px solid #3FB8D5;
    color: rgba(0,0,0,0.65);
}

.menuChange {
    padding-top: 30px;
    padding-right: 5%;
    background-color: rgba(0,0,0,0.03);
    display: flex;
    justify-content: right;
    color: #3FB8D5;
}

.menuChange .menuChangeButton {
    border: 1px solid #3FB8D5;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 1.1em;
    user-select: none;
}

.menuChange .menuChangeButton > span{
    margin-left: 10px;
}

.newPage {
    width: 100%;
    border: none;
    height: 50vh;
}

.fadeOverlay-enter {
    opacity: 0.01;
}
  
.fadeOverlay-enter-active {
    opacity: 1;
    transition: all 200ms ease-in;
}
  
.fadeOverlay-exit {
    opacity: 1;
}
  
.fadeOverlay-exit-active {
    opacity: 0.01;
    transition: all 200ms ease-in;
}