<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/ui/5.0.0/firebase-ui-auth.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/5.0.0/firebase-ui-auth.css" />
    <title>Document</title>
</head>
<body>
    <a href="http://localhost:3000"><img src="http://localhost:3000/images/kakao_login_medium_narrow.png" alt="카카오계정 로그인" style="height: 100px;"/></a>
    <script>
        firebase.auth().signInWithCustomToken(token)
        .then((userCredential) => {
            // Signed in
            var user = userCredential.user;
            // ...
        })
        .catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
            // ...
        });
    </script>
</body>
</html>
