.stationSwiperContainer{
  padding-top: 50px;
  display: flex;
  flex-direction : row;
  flex-wrap: wrap;
  width: inherit;
}

.stationBox{
  flex-grow : 1;
  flex-shrink : 1;
  flex-basis : 40%;
  text-align : center;

  display: flex;
  flex-direction: column;
  padding: 1%;
}

.stationBoxLink{
  text-decoration: none;
  color: black;
}

.stationBoxImg{
  width: 100%;
}