.mainHeader {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-box-pack: start;
    align-items: center;
    -webkit-box-align: center;

    position: relative;
    width: inherit;
    height: 4.421em;
    background-color: white;
}
.mainHeader.recommend {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
}

.mainHeader .mainLogo {
    width: 3.5em;
    height: 100%;
    padding-left: 2.21em;
    padding-right: 2.21em;

    cursor: pointer;
}

.mainHeader .rightAlign {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;

    position: absolute;
    right: 0;
    padding: 0 2.211em;
    height: 100%;
    cursor: pointer;
}