.overlayMenu {
  position: fixed;
  top: 0;
  width: 528px;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.overlayMenu .header {
  color: white;
  font-family: "SpoqaRegular";
  font-size: 1.4em;
  z-index: 150;
}

.overlayMenu .modal {
  width: 90%;
  z-index: 150;
  margin-top: 15px;

  background-color: white;
  border-radius: 10px;
}


.overlayMenu .modal .reset {
  display: flex;
  font-size: 1.1em;
  color: rgba(0,0,0,0.36);
  align-items: center;
  justify-content: right;
}

.overlayMenu .modal .reset .resetButton {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  font-size: 1.1em;
  color: rgba(0,0,0,0.36);
  align-items: center;
  justify-content: right;
}

.overlayMenu .modal .reset .resetIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.overlayMenu .modal .menuList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-family: "SpoqaRegular";
  color: rgba(0,0,0,0.65);
  
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

.overlayMenu .modal .menuList .menuComponent {
  display: flex;
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}
.overlayMenu .modal .menuList .menuComponent.active {
  border: 1px solid #3FB8D5;
  color: #3FB8D5;
}

.overlayMenu .modal .buttonSection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.4em;
  font-family: "SpoqaRegular";
}

.overlayMenu .modal .buttonSection .close{
  cursor: pointer;
  color: rgba(0,0,0,0.65);
}
.overlayMenu .modal .buttonSection .apply{
  cursor: pointer;
  color: #3FB8D5;
}



@media (max-width: 528px){
  .overlay {
      width: 100%;
  }
  .overlayMenu .modal .menuList {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .overlayMenu .modal .menuList .menuComponent {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media (orientation: portrait) and (max-width: 768px){
  .overlay {
      width: 100%;
  }
}