.mySwiper.main {
  padding-top: 1.1055em;
  padding-bottom: calc(1.1055em + 4.2746em);
  background-color: rgba(0,0,0,0.03);
}
.mySwiper.main.cafe{
  padding-top: 5.522em
}
.mySwiper.recContent {
  padding-top: 2.211em;
}
.mySwiper.recListPage {
  padding-left: 2.211em;
  padding-right: 2.211em;
}


.swiper-pagination-bullet {
  background: rgba(0,0,0,0.36);
  z-index: 40;
}
.swiper-pagination-bullet-active {
  background: white;
}

.swiperSlide {
  color: white;
  position: relative;
  background-size: cover;
}
.swiperSlide > div {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.swiperSlide img {
  display: flex;
  width: 100%;
  height: 100%;

}
.swiperSlide.main {
  font-family: "SpoqaBold";
  border-radius: 1.474em;
  width: 90%;
  padding-bottom: 90%;
  cursor: pointer;
}
.swiperSlide.main > div {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.33);
  border-radius: 1.474em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiperSlide.recommend {
  width: 100%;
  height: 65vh;
  padding: 0;
}
.swiperSlide.recommend > div {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.22);
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  padding-top: 43vh;
  padding-left: 2em;
}


.swiperSlide.recContent {
  border-radius: 1.474em;
  width: 90%;
  padding-bottom: 90%;
  cursor: pointer;
}
.swiperSlide.recContent > div {
  left: 2.211em;
  bottom: 3.685em;
  background: rgba(0,0,0,0);
  border-radius: 1.474em;
  align-items: flex-start;
  justify-content: flex-end;
}

.swiperSlide.recListPage {
  font-family: "SpoqaBold";
  border-radius: 1.474em;
  width: 60%;
  padding-bottom: 60%;
  cursor: pointer;
}