.photoSwiperContainer{
  display: flex;
  flex-direction : row;
  flex-wrap: wrap;
  width: inherit;
}

.thumbnailPhotoBox{
  flex-grow : 1;
  flex-shrink : 1;
  flex-basis : 40%;
  text-align : center;

  padding-right: 1%;
}

.thumbnailPhoto{
  width: 100%;
}