.Home-page {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 50px;
    width: inherit;
    font-size: 13.5714px;
    line-height: 1.75em;
}

.sampleComp {
    height: 70vh;
}

.fade-enter {
    opacity: 0.01;
}
  
.fade-enter-active {
    opacity: 1;
    transition: all 200ms ease-in;
}
  
.fade-exit {
    opacity: 1;
}
  
.fade-exit-active {
    opacity: 0.01;
    transition: all 200ms ease-in;
}


@media (max-width: 528px){
    .Home-page {
        font-size: 12px;
    }
}
@media (max-width: 436px){
    .Home-page {
        font-size: 11px;
    }
}
@media (max-width: 400px){
    .Home-page {
        font-size: 10px;
    }
}
@media (max-width: 356px){
    .Home-page {
        font-size: 9px;
    }
}
@media (max-width: 320px){
    .Home-page {
        font-size: 8px;
    }
}