.resultPage {
    width: inherit;
    padding-bottom: 50px;
}

.resultPage .shareButton {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;

    position: relative;
    margin: 1em 1.579em;
    padding: 1em 0;
    font-size: 1.4em;
    color: #191919;
    border: 1px solid #E0E0E0;
    border-radius: 0.7em;
    user-select: none;
    cursor: pointer;
}
.resultPage .shareButton .shareIcon {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;

    position: absolute;
    right: 1em;
}
