.shopPage {
    position: fixed;
    width: inherit;
    top: 0;
    min-height: calc(100vh);
    max-height: calc(100vh);
    background-color: white;
    overflow-y: scroll;
    z-index: 40;
    font-family: "SpoqaRegular";

}

.shopPage .subHeader {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}
.shopPage .subHeader .backButton {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;

    width: 15%;
    height: 100%;
    cursor: pointer;
}

.shopPage > .name {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-pack: center;

    width: 100%;
    font-size: 2.6em;
    padding-top: 0.567em; /* 20px */
    padding-bottom: 0.567em;
    font-family: "SpoqaMedium";
}

.shopPage .simpleInfo {
    display: flex;
    display: -webkit-flex;

    width: 100%;
    font-size: 1.2em;
    color: rgba(0,0,0,0.65);
}
.shopPage .simpleInfo .price{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    
    width: 50%;
    position: relative;
}
.shopPage .simpleInfo .price .temp{
    display: flex;
    display: -webkit-flex;
    
    position: absolute;
    right: 1.8425em;
    gap: 0.184em;
}
.shopPage .simpleInfo .location{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;

    width: 50%;
    padding-left: 0.307em;
    gap: 0.184em;
}

.shopPage .fourPictures {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    
    padding: 2.211em; /* 30px */
    padding-bottom: 2.948em;
    gap: 0.737em;
}
.shopPage .fourPictures .twoPictures {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;

    gap: 0.737em;
}
.shopPage .fourPictures .twoPictures > img {
    width: calc(50% - 0.3685em);
    aspect-ratio: 1;
    object-fit: cover;
}

.shopPage .information {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-orient: vertical;

    gap: 2.457em;
    padding-left: 1.8425em; /* 30px */
    padding-right: 1.8425em;
    font-size: 1.2em;
}
.shopPage .information .eachInformation {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;

    gap: 1.474em;
}
.shopPage .information .eachInformation .icon{
    display: flex;
    display: -webkit-flex;

    width: calc(11% - 1.474em);
    padding-top: 0.221em;
    justify-content: center;
    align-items: start;
}
.shopPage .information .eachInformation .icon.naver{
    padding-top: 0px;
}
.shopPage .information .eachInformation .contents{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-orient: vertical;

    width: 90%;
}

.shopPage .information .eachInformation .contents .eachMenu{
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;

    position: relative;
}
.shopPage .information .eachInformation .contents .eachMenu .name{
    flex-shrink: 0;
    -webkit-flex-shrink: 0;    
}
.shopPage .information .eachInformation .contents .eachMenu .line{
    flex-grow: 1;
    -webkit-box-flex: 1;
    flex-shrink: 1;
    -webkit-flex-shrink: 1;

    margin-left: 1em;
    margin-right: 1em;
    height: auto;
    background-image: linear-gradient(to right, rgba(0,0,0,0.18) 80%, rgba(255,255,255,0) 20%);
    background-position: center right;
    background-size: 1.1055em 0.0737em;
    background-repeat: repeat-x;
}
.shopPage .information .eachInformation .contents .eachMenu .price{
    flex-shrink: 0;
    -webkit-flex-shrink: 0;

    margin-left: auto;
}
.shopPage .information .eachInformation .contents.reviews{
    overflow-y: hidden;
}
.shopPage .information .eachInformation .contents .eachReview{
    padding-top: 1.474em;
    padding-bottom: 1.474em;
    margin-right: 11.11%;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,0.9);
}
.shopPage .information .eachInformation .contents .eachReview .title{
    margin-bottom: 0.737em;
}
.shopPage .information .eachInformation .contents .eachReview .content{
    height: 3em;
    overflow-y: hidden;
    font-size: 0.917em;
    color: rgba(0,0,0,0.65);
}

.shopPage .expandButton{
    display: flex;
    display: -webkit-flex;

    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.03);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.shopPage .subNavbar {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-pack: center;

    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: inherit;
    height: 50px;
    background-color: white;

    font-size: 1.4em;
    color: rgba(0,0,0,0.36);
    border-top: 1px solid #D1D1D1;
}
.shopPage .subNavbar .buttons{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;

    position: relative;
    width: 60%;
    height: inherit;
    user-select: none;
}
.shopPage .subNavbar .buttons .likeButton {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;

    position: absolute;
    left: 0%;
    gap: 0.7em;
    cursor: pointer;
    margin-bottom: 2px;
}
.shopPage .subNavbar .buttons .shareButton {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    
    position: absolute;
    right: 0%;
    gap: 0.7em;
    cursor: pointer;
    margin-bottom: 2px;
}
