.flexContainer {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    
    font-size: 1.8em;
    height: 4.206em;
}

.menuContainer {
    position: relative;
    width: 65%;
    margin-left: 30px;
    margin-right: 30px;
    /* padding-top: 1em; */
}
.menuContainer .otherType {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 2px solid rgba(0, 0, 0, 0.65);
    cursor: pointer;
    user-select: none;
    display: flex;
    position: relative;
    align-items: center;
}
.menuContainer .otherType.default {
    color: rgba(0, 0, 0, 0.36);
}
.menuContainer .otherType .icon {
    margin-right: 5px;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}
.menuContainer .menu {
    background: #ffffff;
    z-index: 100;
    position: absolute;
    top: 2em;
    left: -0.5em;
    width: calc(100% + 1em);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}
.menuContainer .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.menuContainer .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuContainer .menu li div {
    font-size: 0.77em;
    color: rgba(0, 0, 0, 0.36);
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    cursor: pointer;
}
.menuContainer .menu li div.active {
    color: rgba(0, 0, 0, 0.65);
}