.Home-page {
    text-align: left;
    padding-top: 60px;
    width: inherit;
    /* scroll-snap-type: y proximity;
    scroll-padding: 60px;
    overflow-y: scroll; */
}

.sampleComp {
    height: 70vh;
    /* scroll-snap-align: start; */
}
